@model IEnumerable <PakTech.Models.Events>
@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Events</h2>
                    <div class="section_subtitle"><p>Following are the popular Events that enhance your skills</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            @foreach (var eve in Model)
            {
                <div class="col-lg-4 course_col">
                    <div class="course">
                        <div class="course_image"><img src="@eve.Image" width="300" alt=""></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/home/event/@eve.ID">@eve.Title</a></h3>
                            
                            <div class="course_text">
                                <p>@eve.shortdescription</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    
                                    
                                </div>
                                <div class="course_info">
                                    
                                  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Course -->
            <!-- Course -->


        </div>
       
    </div>
</div>